<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OlipraOS - Your own operating system</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>
    
    <div id="terminal">
        <div id="kropki">
            <div id="kropka1"></div>
            <div id="kropka2"></div>
            <div id="kropka3"></div>
        </div>
        
        <div id="output">OlipraOS Terminal v0.1 <br>Type 'help' to start.</div>
        <input type="text" id="input" placeholder="Type a command..." autocomplete="off">
    </div>

    <script src="../static/script.js"></script>

</body>
</html>