<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OlipraOS - Your own operating system</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>
    
    <div id="terminal">
        <div id="kropki">
            <div id="kropka1"></div>
            <div id="kropka2"></div>
            <div id="kropka3"></div>
        </div>
        
        <div id="output">OlipraOS Terminal v0.1 <br>Type 'help' to start.</div>
        <input type="text" id="input" placeholder="Type a command..." autocomplete="off">
    </div>

    <script>
        const input = document.getElementById('input');
        const output = document.getElementById('output');

        input.addEventListener('keydown', async (e) => {
            if (e.key === 'Enter') {
                const command = input.value;
                output.textContent += `> ${command}\n`;
                input.value = '';

                // Send commands to backend
                const response = await fetch('/command', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ cmd: command })
                });
                const data = await response.json();
                output.textContent += data.result + '\n';
                output.scrollTop = output.scrollHeight;
                }
            });
    </script>

</body>
</html>